<div class="content home-page">
	
<h1>HOME PAGE</h1>
<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
 

<video id="MY_VIDEO_1_html5_api" class="vjs-tech" controls autoplay="" preload="auto" oncontextmenu="return false" data-setup="{}"><source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;id=c003cf76388c91ae&amp;itag=18&amp;source=webdrive&amp;cmo=secure_transport%3Dyes&amp;ip=0.0.0.0&amp;ipbits=0&amp;expire=1435430576&amp;sparams=requiressl,id,itag,source,ip,ipbits,expire&amp;signature=433718EFE2E9166FB4DB2B294EBE1F25AEE92BE7.6F775F3F42FBD846F66148810E214DBF15D4DB9C&amp;key=ck2" type="video/mp4">
<track src="subtitles.vtt" kind="subtitles" srclang="en" label="English" />
</video>


 <!-- <video width="640" height="480" autoplay controls>
  <source src="spongebob.mp4" type="video/mp4" />
  <source src="spongebob.mp4" type="video/webm" />
  <track src="subtitles.vtt" kind="subtitles" srclang="en" label="English" />
 
</video> -->

</div>


</div>

