<div class="movies-page">
	<h2>Movie List</h2>

<div class="col-md-9">

	<div class="movie-list">
		<div>
			<ul style="overflow:hidden;">
				<a href=""><li style="float:left;padding:5px;background-color:#eee;margin-right:2px;">1</li></a>
				<a href=""><li style="float:left;padding:5px;background-color:#eee;margin-right:2px;">2</li></a>
				<a href=""><li style="float:left;padding:5px;background-color:#eee;margin-right:2px;">3</li></a>
				<a href=""><li style="float:left;padding:5px;background-color:#eee;margin-right:2px;">4</li></a>
				<a href=""><li style="float:left;padding:5px;background-color:#eee;margin-right:2px;">5</li></a>
			</ul>
		</div>

		<div ng-repeat="movie in movies | filter:search | orderBy:'-id' | limitTo:10 " class="movie-item">
			<div class="poster">
				<a href="#/movies/{{movie.id}}/watch-{{ movie.title }}"><img ng-src="{{ movie.poster }}" alt=""></a>		
			</div>
			<div class="title">
				<a href="#/movies/{{movie.id}}/watch-{{ movie.title }}"><b>{{ movie.title }}</b> - <i>({{ movie.released }})</i></a>
			</div>
			<div class="genre">
				<i>{{ movie.genres }}</i>
			</div>
			<div class="summary">
				<p>{{ movie.summary }}</p>
			</div>
		</div><!-- end div movie-item class -->


		
	</div><!-- end div movie-list class -->
	
	




</div><!-- end div col-md-9 class -->















<div class="col-md-3" ng-controller="NavigationController">
	<h1>Side Navigation</h1>
	<ul style="padding-left:0;">
		<li ng-repeat="nav in navigation.sideNav">
			<a href="{{nav.link}}" style="color:{{nav.color}};">{{nav.nav}}</a>
		</li>
	</ul>
</div>

</div>

