<div class="watch-series-page">

<div class="col-md-9">
<div class="title">
<h3>{{tvseries[getparamId].title}} - {{tvseries[getparamId].episodeTitle}}(S{{tvseries[getparamId].season}}-E{{tvseries[getparamId].episode}})</h3>
</div>
<!-- 16:9 aspect ratio -->
<div>
	<div class="embed-responsive embed-responsive-16by9" style="background-color:black;box-shadow: 0 8px 10px #777;">

			<!-- <video src="{{seriesLink(getparamId)}}" controls autoplay preload poster="{{tvseries[getparamId].poster}}" style="background-color:black;"></video> -->

			<video autoplay="" controls="" preload="auto" oncontextmenu="return false" src="{{seriesLink(getparamId)}}" poster="{{tvseries[getparamId].poster}}">
				<source src="{{seriesLink(getparamId)}}" type="video/mp4" data-res="720p">
			</video>
		
		<!-- <div ng-if="getparamId == 6" ng-include="'partials/theflash_s01-e07.html'"></div> -->
	</div>
</div>

 <!-- <div class="video-player" seriesplayer ></div> -->

</div>

<div class="col-md-3" ng-controller="NavigationController">
	<h1>Side Navigation</h1>
	<ul style="padding-left:0;">
		<li ng-repeat="nav in navigation.sideNav">
			<a href="{{nav.link}}" style="color:{{nav.color}};">{{nav.nav}}</a>
		</li>
	</ul>
</div>

</div>

