<div class="movies-page">
	<h2>Watch Movies Here ....</h2>

<div class="col-md-9">
{{movies[getparamId].title}}
<div class="video-player" videoplayer>
	
</div>


<video id="MY_VIDEO_1" class="video-js vjs-default-skin" controls autoplay
 preload="auto" width="640" height="264" poster="http://leansantos.github.io/images/project-almanac.jpg"
 data-setup="{}">
 <source src="https://lh3.googleusercontent.com/nSNjrOY-9bOVCTbPpEuqH1wrQWe_-EqJdRZCu7YC6wM=m18" type='video/mp4'>
 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video>



<div class="col-md-3" ng-controller="NavigationController">
	<h1>Side Navigation</h1>
	<ul style="padding-left:0;">
		<li ng-repeat="nav in navigation.sideNav">
			<a href="{{nav.link}}" style="color:{{nav.color}};">{{nav.nav}}</a>
		</li>
	</ul>
</div>

</div>

