<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movies&Series</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/mycss.css" rel="stylesheet">
</head>
<body ng-app="mymovieApp">


<!-- Header RigthSide Fixed navbar -->
<div class="side-navbar side-navbar-fixed">
	<div><a href="#/"><h2>#WatchList</h2></a></div>

	<div class="baseline-border">
		<input type="text" ng-model="search" placeholder="Search here" style="text-align:center;">
	</div>
	<div class="navigation" ng-controller="NavigationController">
		<ul>
			<li ng-repeat="nav in navigation.mainNav">
				<a href="{{nav.link}}">{{nav.nav}}</a>
			</li>
		</ul>
	</div>


</div>
<!-- End Header RigthSide Fixed navbar -->


<!-- Partials content -->
<div class="partials">
	<div ng-view=""></div>
</div>
<!-- End Partials content -->




<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>


<script src="js/myApp.js"></script>
<script src="js/controller/NavigationController.js"></script>
<script src="js/controller/HomeController.js"></script>
<script src="js/controller/MoviesController.js"></script>
<script src="js/controller/SeriesController.js"></script>


</body>
</html>